.body {
  width: 100%;
  max-width: 1100px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;

}

.nav {
  display: flex;
  justify-self: center;
}

.menu {
  display: flex;
  gap: 33px;
  padding-top: 133px;
  padding-left: 50px;
  padding-right: 36.52px;
  padding-bottom: 138px;
  min-width: 478px;
  list-style-type: circle;
}

.menu_text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}

.menu_text_main {
  list-style: none;
}

.menu_decoration {
  text-decoration: none;
}

.logo {
  display: flex;
  margin-top: 92px;
  margin-bottom: 96px;
  margin-left: 8px;
  min-width: 145px;
  min-height: 105px;
}

.address {
  display: flex;
  padding-top: 95px;
  padding-left: 184px;
  padding-right: 50px;
  padding-bottom: 100px;
  min-width: 469px;
  flex-direction: column;
  list-style-type: none;
  font-style: normal;
}

.address_text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  list-style: none;
  font-style: normal;
  color: #000000;
}

.text_underline {
  text-decoration: underline;
}

.div_img_lotos {
  width: 1100px;
  min-height: 597px;
  padding-top: 165px;
  gap: 106px;
  background-image: url(../images/cover.jpg);
  position: relative;
  color: #FFF;
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover_title {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  min-width: 1000px;
  padding-left: 50px;
  padding-right: 25px;
  gap: 20px;
}

.cover_text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114px;
}

.title_start {
  align-self: flex-start;
  text-align: center;
  letter-spacing: 30px;
}

.title_center {
  align-self: center;
  text-align: center;
  letter-spacing: 26.5px;

}

.title_end {
  align-self: flex-end;
  text-align: right;
  letter-spacing: 30px;
}

.description {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  min-width: 1000px;
  padding-top: 106px;
  padding-bottom: 50px;
  gap: 45px;
}

.description_text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.button {
  font-family: "Raleway", "Arial", sans-serif;
  width: 256px;
  min-height: 51px;
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  line-height: 100%;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.title_lots {
  padding-top: 180px;
  padding-bottom: 27px;
  padding-left: 64px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.frame {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  gap: 25px;
  justify-content: flex-start;
  margin-left: 22px;
  flex-wrap: wrap;
}

.card_lots {
  display: flex;
  padding-left: 5px;
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
}

.lots {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lots_img_film {
  background-image: url(./../images/card-lot-01.jpg);
}

.lots_img_book {
  background-image: url(./../images/card-lot-02.jpg);
}
.lots_img_picture {
  background-image: url(./../images/card-lot-03.jpg);
}

.article_title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: white;
  padding-left: 40px;
  padding-right: 38px;
  padding-top: 48px;
}

.article_text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: white;
  padding-left: 40px;
  padding-right: 38px;
  padding-bottom: 48px;
}

.view_more {
  display: block;
  padding-top: 30px;
  margin-left: 64px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: black;
  text-underline-offset: 1px;
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  margin-left: 24px;
  margin-top: 120px;
  margin-right: 24px;
  width: 1052px;
}

.about_logo {
  display: flex;
  border-radius: 50%;
  background-color: #000;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: 35px;
}

.about_logo_img {
  width: 148px;
  height: 114px;
  padding-top: 7px;
}

.about_column {
  display: flex;
  flex-direction: column;
  padding-top: 139px;
  padding-left: 45px;
  width: 693px;
}

.about_title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000;
}

.about_title_text {
  margin-bottom: 105px;
}

.about_text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.about_text_auction {
  width: 693px;
  margin-bottom: 28px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3,  366.6px);
  margin-top: 153px;
  width: 1100px;
  align-items: flex-start;
}

.footer_address {
  font-style: normal;
  margin-left: 50px;
  margin-bottom: 82px;
  width: 265px;
}

.footer_menu_links {
  list-style-type: none;
  text-underline-offset: 1px;
  text-align: center;
  color: black;
  margin-bottom: 5px;
}

.footer_social {
  display: flex;
  gap: 48px;
  padding-left: 75px;
  padding-right: 50px;
  max-width: 240px;
}

.social_img {
  width: 48px;
  height: 48px;
}